body{
    background-color: bisque;
    color: #555;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6em;
    width: 90%;
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: coral;
    color: aliceblue;
    /* text-align: center */
}

#navigation{
    background-color: rgb(12, 9, 15);
    color: aliceblue;
}

.navbar{
    padding: 0;
    list-style: none;
}

.navbar li{
    display: inline;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase{
    background-image:url(./image/233785.jpg);
    /* color: aliceblue; */
    background-position: 20px;
    /* background-repeat: no-repeat; */
    /* width: 100%; */
    height: 100%;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
} 

#showcase h3{
    color: #fff;
    font-size: 1.5em;
    padding: 30px 20px 30px 20px;
    line-height: 1.6em;
    text-align: center;
}
#showcase q{
    display: block;
    position: absolute;
    bottom: 10px;
    right: 230px;
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
    display: inline;
}

#sidebar{
    float: right;
    width: 30%;
    color: rgb(255, 255, 255);
    padding: 0 10px;
    box-sizing: border-box;
    background: rgb(150, 143, 160);
    text-align: justify;
}

.footer{
    color: rgb(255, 255, 255);
    text-align: center;
    background: #555;
    padding: 20px 20px;
    height: 120px;
    width: 100%;
    margin-top: 200px;
    /* position: relative; */
}

@media(max-width:600px){
    #main{
        width: 100%;
        float: none
    }
    #sidebar{
        width: 100%;
        float: none
    }
}

.footer a{
    color: antiquewhite;
}